	.content {
		display: flex;
		flex-direction: column;
		//align-items: center;
		//justify-content: center;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}

.button-container {
	
	z-index: 10;
  white-space: nowrap; /* 防止按钮换行 */
  overflow-x: scroll; /* 开启水平滚动条 */
  display: flex; /* 水平布局 */
    white-space: nowrap;
    
    overflow-x: scroll;
	 width: 1500rpx;
}



.button{
		z-index: 10;
	
		display: flex;
		justify-content: center;
			background-color: #0055ff;
			border: 1px solid  #6c4ad1;
			border-radius: 20rpx; 
			 margin: 5rpx; 
	
			 height: 50rpx;
			 
			 width: calc(100% / {{ calculateButtonWidth() }});
	}


	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}
	
	.uni-mt-10 {
		margin-top: 10px;
		display: block;
	}
	
	.swiper {
			height: 300rpx;
		}
	.swiper-item {
		display: block;
		height: 300rpx;
		line-height: 300rpx;
		text-align: center;
	}
	.uni-bg-red{
		background-color: red;
	}
	.uni-bg-green{
		background-color: green;
	}
	.uni-bg-blue{
		background-color: blue;
	}
	
	.totop{
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 20px;
		bottom: 70px;
		width: 50px;
		height: 50px;
		z-index: 99;
	}
	
	.topicon{
		width: 40px;
		height: 40px;
		background-image: url("../../static/icons/top.png");
	}