	.content {
		display: flex;
		flex-direction: column;
		//align-items: center;
		//justify-content: center;
	}

/* 轮播图*/
.swiper-item-image {
  width: 100%;
  height:100%;
}

	.logo {
		height: 200rpx;
		width: 200rpx;
		margin-top: 200rpx;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50rpx;
	}

	.button-container {

		z-index: 10;
		white-space: nowrap;
		/* 防止按钮换行 */
		overflow-x: scroll;
		/* 开启 水 平滚动条 */
		display: flex;
		/* 水平布局 */
		white-space: nowrap;

		overflow-x: scroll;
		width: 1500rpx;
	}



/* 	.sc-button {
		//z-index: 10;

		//display: flex;
		display: inline-block;
		//justify-content: center;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		//background-color: #0055ff;
		border: 1px solid #6c4ad1;
		border-radius: 20rpx;
		margin: 5rpx;

		height: 70rpx;

		//width: calc(100% / {{ calculateButtonWidth() }});
		width: 120px;
	} */
	
	.sc-button {
		display: inline-block;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		border: 0px solid #6c4ad1;
		border-radius: 20rpx;
		/* line-height 应与height一致才能使文字竖直居中 */
		line-height: 70rpx;
		margin: 5rpx;
		height: 70rpx;
		width: 100px;
	}


	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}

	.uni-mt-10 {
		margin-top: 10px;
		display: block;
	}

	.swiper {
		height: 300rpx;
	}

	.swiper-item {
		display: block;
		height: 300rpx;
		line-height: 300rpx;
		text-align: center;
	}

	.uni-bg-red {
		background-color: red;
	}

	.uni-bg-green {
		background-color: green;
	}

	.uni-bg-blue {
		background-color: blue;
	}

	.totop {
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 0rpx;
		bottom: 70px;
		width: 60rpx;
		height: 60rpx;
		z-index: 99;
		color:  #4d1ae4;
		
		/*box-shadow: 0px 5px 2px rgba(116, 116, 116, 0.5);*/
		border-radius: 80rpx;
	}

	.topicon {
		width: 80rpx;color:  #4d1ae4;
		height: 60rpx; margin-left: -20rpx;margin-top: -20rpx;
		background-image: url("../../static/icons/top.png");
	}
	
	.r {
		
	
		border: 10px solid #6c4ad1;
		border-radius: 0rpx;
		/*设置按钮边框为圆角 */
		border: none;
	
		width: 700rpx;
		height: 80rpx;
	
		color: rgb(255, 255, 255);
		background-color: #4d1ae4;
		font-size: 30rpx;
		text-align: center;
		/* top: calc(150vh - 350rpx);
	   */
	
	
		margin-left: -120px;
		margin-top: 0rpx;
		box-shadow: 0ch;
		padding-left: 400rpx;
		box-shadow: 0px 5px 2px rgba(116, 116, 116, 0.5);
		background-image: -webkit-linear-gradient(0deg, #4d1ae4 0%, #886cdb 100%);
	}
	