	.content {
		display: flex;
		flex-direction: column;
		//align-items: center;
		//justify-content: center;
	}

	.logo {
		height: 200rpx;
		width: 200rpx;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		border: 0px solid #6c4ad1;
		border-radius: 20rpx;
		/* line-height 应与height一致才能使文字竖直居中 */
		line-height: 70rpx;
		margin: 5rpx;
		height: 70rpx;
		width: 100px;
	}

	.button-container {

		z-index: 10;
		white-space: nowrap;
		/* 防止按钮换行 */
		overflow-x: scroll;
		/* 开启 水 平滚动条 */
		display: flex;
		/* 水平布局 */
		white-space: nowrap;

		overflow-x: scroll;
		width: 1500rpx;
	}

	/* 轮播图*/
	.swiper-item-image {
		width: 100%;
		height: 100%;
	}


	/* 	.sc-button {
		//z-index: 10;

		//display: flex;
		display: inline-block;
		//justify-content: center;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		//background-color: #0055ff;
		border: 1px solid #6c4ad1;
		border-radius: 20rpx;
		margin: 5rpx;

		height: 70rpx;

		//width: calc(100% / {{ calculateButtonWidth() }});
		width: 120px;
	} */

	.sc-button {
		display: inline-block;
		text-align: center;
		margin-top: auto;
		margin-bottom: auto;
		border: 1px solid #6c4ad1;
		border-radius: 20rpx;
		/* line-height 应与height一致才能使文字竖直居中 */
		line-height: 70rpx;
		margin: 5rpx;
		height: 70rpx;
		width: 120px;
	}


	.text-area {
		display: flex;
		justify-content: center;
	}

	.title {
		font-size: 36rpx;
		color: #8f8f94;
	}

	.uni-mt-10 {
		margin-top: 10px;
		display: block;
	}

	.swiper {
		height: 300rpx;
	}

	.swiper-item {
		display: block;
		height: 300rpx;
		line-height: 300rpx;
		text-align: center;
	}

	.uni-bg-red {
		background-color: red;
	}

	.uni-bg-green {
		background-color: green;
	}

	.uni-bg-blue {
		background-color: blue;
	}

	.totop {
		display: flex;
		flex-direction: column;
		position: fixed;
		right: 20px;
		bottom: 70px;
		width: 50px;
		height: 50px;
		z-index: 99;
	}

	.topicon {
		width: 40px;
		height: 40px;
		background-image: url("../../static/icons/top.png");
	}