.usercenter{
  display: flex;
  justify-content: center; 
  align-items: center;
	align-items: center;
	margin: 1px;
  flex-direction: column;

}

.tips{
  color: red;
  font-size: small;
}

.rg-input {
  margin-top:40rpx;
  width: 300px;
    height:30rpx;
    border: 1rpx solid #6c4ad1;

   /* font-family: uniicons;*/
    text-decoration: none;
    padding-left: 15px;/* 右缩进 */
    font-size: 30rpx; /* 尺寸 */
    letter-spacing: 3px;
    line-height: 40rpx;/* 文本上下位置 */
    height: 70rpx;/* 背景高度 */
    color: #ffffff;/* 字体颜色 */
    margin: rpx 0;/* 上下位置 */
    background-image: -webkit-linear-gradient(0deg, #4d1ae4 0%, #886cdb 100%);
   
    border-bottom:0rpx solid #6c4ad1; /* 添加底部边框，可以根据需要调整颜色和粗细 */
    outline: none; /* 移除默认的焦点边框 */
   

}

.lgtip-button{
  border: 1px solid  #6c4ad1;
  border-radius: 0px; /* 新增：设置按钮边框为圆角 */
  width: 300rpx;
  height: 60rpx;
  margin-top: 30rpx;
  display: flex;  /* 使用Flex布局 */ 
  justify-content: center;  /* 水平居中 */
  align-items: center; /* 垂直居中 */
  color: #6c4ad1; /* 新增：设置注册按钮文字颜色为绿色 */
  background-color: rgb(255, 255, 255); /* 新增：设置注册按钮背景颜色为白色 */
  box-shadow: 5px 5px 5px rgba(116, 116, 116, 0.5);

}
/*.rg-input {
  margin-top:100rpx;
  width: 300px;
    height:20rpx;
    border: 8rpx solid #6c4ad1;

   
    border-radius: 0px; /* 将输入框的圆角设置为50 
    border: none; /* 移除默认边框 
    border-bottom: 8rpx solid #6c4ad1; /* 添加底部边框，可以根据需要调整颜色和粗细 
    outline: none; /* 移除默认的焦点边框 
    background: transparent; /* 设置背景为透明，以便底部边框显示 
    padding: 0; /* 移除默认内边距，可以根据需要设置 

}
*/