/* 1. 居中灰色分割线 
.divider {
  width: 100%;
  height: 2rpx;
  background-color:#6c4ad1;
  margin-top: 20rpx; 
}
.vertical-line {
  position: absolute;
  margin-top: 2rpx;
  left: 50%; 
  transform: translateX(-50%); 将线居中
  height: 600rpx; 设置线的高度 
  width:2rpx;
  background-color: #6c4ad1;
}*/

.horizontal-line {
  position: absolute; /* 启用绝对定位 */
  z-index: 2;
  transform: translate(-13rpx,170rpx) scale(1);
  width: 376rpx;
  height: 40rpx; /* 设置线的厚度 */
  background-color: #6c4ad1;
  margin-top: 20rpx; /* 控制线与上方内容的距离 */
  background-image: -webkit-linear-gradient(0deg, #4d1ae4 0%, #886cdb 100%);
}

.horizontal-line-a {
  position: absolute; /* 启用绝对定位 */
  z-index: 2;
  transform: translate(-13rpx,280rpx) scale(1);
  width: 376rpx;
  height: 20rpx; /* 设置线的厚度 */
  background-color: #6c4ad1;
  margin-top: 20rpx; /* 控制线与上方内容的距离 */
  background-image: -webkit-linear-gradient(0deg, #4d1ae4 0%, #886cdb 100%);
}



.horizontal-line-b {
  position: absolute; /* 启用绝对定位 */
  z-index: 2;
  transform: translate(396rpx,170rpx) scale(1);
  width: 376rpx;
  height: 40rpx; /* 设置线的厚度 */
  background-color: #6c4ad1;
  margin-top: 20rpx; /* 控制线与上方内容的距离 */
  background-image: -webkit-linear-gradient(0deg, #4d1ae4 0%, #886cdb 100%);
}

.horizontal-line-c {
  position: absolute; /* 启用绝对定位 */
  z-index: 2;
  transform: translate(396rpx,280rpx) scale(1);
  width: 376rpx;
  height: 20rpx; /* 设置线的厚度 */
  background-color: #6c4ad1;
  margin-top: 20rpx; /* 控制线与上方内容的距离 */
  background-image: -webkit-linear-gradient(0deg, #4d1ae4 0%, #886cdb 100%);
}



/* 2. 改变“请选择创建类型”字体颜色为灰色、大小30px，页面居中，上边距70px */
.title {
  z-index: 3;
  font-size: 30rpx;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 10px;
  text-shadow: 10px 5px 5px rgba(10, 0, 0,0.5);

}
.title1 {
  z-index: 3;
  transform: translate(-10rpx,270rpx) scale(1);
  float: left;
  text-align: left;
  padding-left: 30rpx; 
  font-size: 36rpx;
  color: #7b5ed1;
  margin-top: 60rpx;
  font-weight: bold;
  text-decoration: underline;

  /* text-shadow: 2rpx 2rpx 0rpx rgba(77, 29, 209, 1); 设置描边效果 */
}

.title2 {
  z-index: 3;
  transform: translate(15rpx,270rpx) scale(1);
  float: right;
  text-align: right;
  padding-right: 30rpx; 
  font-size: 36rpx;
  color: #6c4ad1;
  margin-top: 60rpx;
  font-weight: bold;
  text-decoration: underline;
}

/**/
.checkbox-container {
  position: absolute; /* 启用绝对定位 */
  display: flex;
  justify-content: center;  /* 水平居中 */
  align-items: center; /* 垂直居中 */

  transform: translate(144rpx,70rpx) scale(1.35);

  width: 700rpx;
  height:100rpx;

  flex-direction: row; 
  color:#6c4ad1;
  margin-top: 30rpx; 

}
.select-container{
  transform: translate(300rpx,300rpx) scale(1);

}






/* 5. “创建”按钮样式 */

  
.create-button{
  transform: translate(0rpx,0rpx) scale(1);

  border: 1px solid  #6c4ad1;
  border-radius: 40rpx; /*设置按钮边框为圆角 */
  width: 300rpx;
  height: 70rpx;
  color: rgb(255, 255, 255); 
  background-color: #6c4ad1; 
  text-align: center;
/* top: calc(150vh - 350rpx);
   */
 
 display: flex;  /* 使用Flex布局 */ 
   justify-content: center;  /* 水平居中 */
   align-items: center; /* 垂直居中 */
   margin-top: 700rpx;
   box-shadow:0ch;
 
   box-shadow: 5px 5px 5px rgba(116, 116, 116, 0.5);
}