@font-face {
    font-family: uniicons;
    src: url('./uni-173d2b94.ttf') format("truetype")
}

.uni-icons{
    font-family: uniicons;
    text-decoration: none;
    text-align: center
}

.icon-incomplete::before{
	content: '\e400';
}