	@import "./editor-icon.css";
	
.container{
		margin-top: 120px;
	}
	.status_bar {
		height: var(--tab-bar-height);
		width: 100%;
		align-items: center;
		background-color: rgb(248,248,248);
	}
	
	.uni-navbar{
		position: fixed;
		top: 600px;
	
	
		z-index: 99;
		
border: 1px solid  #6c4ad1;
  border-radius: 20px; /* 新增：设置按钮边框为圆角 */
  width: 350px;
  height: 35px;
  color: rgb(255, 255, 255); 
  background-color: #6c4ad1; 
text-align: center;
/* top: calc(150vh - 350rpx);
   */

 display: flex;  /* 使用Flex布局 */ 
   justify-content: center;  /* 水平居中 */
   align-items: center; /* 垂直居中 */
   margin-top: 0rpx;
   box-shadow:0ch;
 
   box-shadow: 5px 5px 5px rgba(116, 116, 116, 0.5);
		
		  background-image: -webkit-linear-gradient(0deg, #4d1ae4 0%, #886cdb 100%);
		
	}

	.page-body {
		height: calc(100vh - var(--window-top) - var(--status-bar-height));
	}

	.wrapper {
		height: 100%;
	}

	.editor-wrapper {
		margin-top: 240px;
		height: calc(100vh - var(--window-top) - var(--status-bar-height) - 140px);
		background: #fff;
	}

	.iconfont {
		display: inline-block;
		padding: 8px 8px;
		width: 24px;
		height: 24px;
		cursor: pointer;
		font-size: 20px;
	}

	.toolbar {
		position: fixed;
		left: 0;
		top: 120px;
		z-index: 9;
		margin-top: 5px;
		box-sizing: border-box;
		border-bottom: 1px solid yellowgreen;
		border-bottom: 0;
		font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	}

	.ql-container {
		box-sizing: border-box;
		padding: 12px 15px;
		width: 100%;
		min-height: 30vh;
		height: 100%;
		margin-top: 20px;
		font-size: 16px;
		line-height: 1.5;
	}

	.ql-active {
		color: #06c;
	}